DOMAIN="localhost"
FRONTEND_HOST="http://localhost:5173"

# Database Settings
POSTGRES_SERVER="localhost"
POSTGRES_PORT=5432
POSTGRES_PASSWORD="DB_PASSWORD"
POSTGRES_DB="mobilitaetscheckdb"
POSTGRES_USER="mobilitaetscheck"

ENVIRONMENT="production"

JWT_SECRET_KEY="JWT_SECRET"
RESET_PASSWORD_TOKEN_SECRET ="RESET_SECRET"
VERIFICATION_TOKEN_SECRET="VERIFY_SECRET"
JWT_LIFETIME_SECONDS=43200

MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_FROM=mail@example.com
MAIL_PORT=587
MAIL_SERVER=mail.example.com
MAIL_FROM_NAME="Mobilitaetscheck für Magistratsvorlagen"
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True
